<h1>Edit Student</h1>

<%= form_with model: @student do |form| %>

  <% if @student.errors.any?  %>
    <% @student.errors.full_messages.each do |message| %>
      <p> <%= message %> </p>
    <% end %>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %> <br>



  <%= form.label :lastname %>
  <%= form.text_field :lastname %> <br>



  <%= form.label :email %>
  <%= form.email_field :email %> <br>

  <br>
  <%= form.submit %>
<% end %>
#